<div id="footer-slim" class="footer">
  <div class="container">

  <hr />

  <br />

  <div class="row">
    <div class="col-md-12 subfooter">
      <a href="https://www.sandia.gov/" target="_blank"><img src="/assets/images/SNL_Horizontal_Black_Blue.jpg" alt="Sandia" border="0" /></a>
      <p> Sandia National Laboratories is a multimission laboratory managed and operated by  National Technology and <br /> Engineering Solutions of Sandia, LLC., a wholly owned subsidiary of Honeywell International, Inc., <br /> for the U.S. Department of Energy’s National Nuclear Security Administration under contract DE-NA-0003525. </p>
      <a class="nnsa" href="https://nnsa.energy.gov/" target="_blank"><img src="https://cdn.llnl.gov/onelab/latest/images/nnsa.png" alt="NNSA" border="0" /></a>
      <a class="doe" href="https://energy.gov/" target="_blank"><img src="https://cdn.llnl.gov/onelab/latest/images/doe_small.png" alt="U.S. DOE" border="0" /></a>
    </div>

    <div class="col-md-12 subfooter">
      <span>{{ site.llnl.release_number }} &nbsp;|&nbsp;&nbsp;</span>
      <a href="https://www.sandia.gov/general/privacy-security/index.html" target="_blank">Privacy &amp; Security</a>
    </div>
  </div>
  </div>
</div>
