<div id="footer-slim" class="footer">
<div class="container">

<hr />

<div class="row">
  <div class="col-lg-10 col-12">
    <p id="colophonLogos"><a href="https://www.sandia.gov/" rel="noopener noreferrer" target="_blank"><img alt="Sandia National Laboratories" longdesc="https://www.sandia.gov" src="/assets/images/SNL_Horizontal_Black_Blue.png" height="37"></a>&nbsp;&nbsp;<a href="https://energy.gov" rel="noopener noreferrer" target="_blank" class="me-3"><img alt="U.S. Department of Energy" longdesc="https://energy.gov" src="/assets/images/doe-logo.png" width="140" height="37"></a>&nbsp;&nbsp;<a href="https://nnsa.energy.gov/" rel="noopener noreferrer" target="_blank"><img alt="National Nuclear Security Administration" longdesc="https://nnsa.gov" src="/assets/images/nnsa-logo.png" width="116" height="37"></a>
    </p>
    <p id="colophonLegal"><a href="https://www.sandia.gov" aria-label="SNL home url in footer">Sandia National Laboratories</a> is a multimission laboratory managed and operated by National Technology and Engineering Solutions of Sandia, LLC., a wholly owned subsidiary of Honeywell International, Inc., for the U.S. Department of Energy’s National Nuclear Security Administration under contract DE-NA-0003525.
    </p>
    <p id="colophonCopyright">© 2021 National Technology and Engineering Solutions of Sandia, LLC. | <a href="https://www.sandia.gov/contact_us/index.html">Questions &amp; Comments</a> | <a href="https://www.sandia.gov/general/privacy-security/index.html">Privacy &amp; Security</a>
    </p>
  </div>
    <div class="col-lg-2 col-12 footer-sidenav">
      <div class="row justify-content-between">
      </div>
    </div>
  </div>
</div>
</div>